#gameArea{
    border: 10px double aliceblue;
}
h1{
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}
body{
    height: 100vh;
    background: linear-gradient(115deg,
     rgba(131,58,180,1) 0%, rgba(253,29,29,1) 56%, rgba(252,176,69,1) 100%);
    text-align: center;
    overflow: hidden; /*hiden scrollbar*/
}
